<% provide(:title, 'AMP Services Home') %>

<!-- Main jumbotron for a primary marketing message or call to action -->


      <!-- Jumbotron -->
      <div class="container">
      <div class="jumbotron">
        <h1 id="hero-title">Utah's premiere electrical company</h1>
        <p class="lead">We've been proudly serving Utah since 2003</p>
      </div>
      </div>


       <!--  <div class="row">
          <div class="col-md-6">
            <div id="amp-intro">
              <%= image_tag("ext-lights.jpg", alt: 'First slide', id: 'hero-one') %>
            </div>
          </div>
          <div class="col-md-6">
            <span class="glyphicon glyphicon-home" id="hero-home"></span>
            <%#= image_tag("tv-lights.jpg", alt: 'First slide', style: 'height:200px;width:500px;') %>
            <h2>Electrical Contractors</h2>
            <p>For more than a decade we've been serving Utah with the finest residential, commercial, and industrial electrical work.</p>
          </div>
        </div> -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
      <h1>Our Work</h1>

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <p><i class="fa fa-home fa-commercial"></i></p>
          <!-- <span class="glyphicon glyphicon-home" style="font-size:140px; color:#333333"></span> -->
        	<%#= image_tag("res-140.jpg", alt: 'Residential Electrical Image', class: 'img-square') %>
          <!-- <img class="img-circle" data-src="res-140.jpg" alt="Generic placeholder image"> -->
          <h2>Residential</h2>
          <ul class="service-list">
            <li>New Home Construction</li>
            <li>Home Remodeling</li>
            <li>Electrical Troubleshooting</li>
          </ul>
          <p><a class="btn btn-default" href="#" role="button">View Residential Gallery &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <p><i class="fa fa-building-o fa-commercial"></i></p>
          <%#= image_tag("res-140-2.jpg", alt: 'Commercial Electrical Image', class: 'img-square') %>
          <h2>Commercial</h2>
          <ul class="service-list">
            <li>Commercial Construction</li>
            <li>Remodel</li>
            <li>Troubleshooting</li>
          </ul>
          <p><a class="btn btn-default" href="#" role="button">View Commercial Gallery &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <p><i class="fa fa-lightbulb-o fa-commercial"></i></p>
          <h2>Low Voltage</h2>
          <ul class="service-list">
            <li>Audio/Video</li>
            <li>Networking</li>
            <li>TV</li>
          </ul>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
    </div>

