<div class="container">
	<h1>Services Available</h1>
	<h2>We offer a variety of electrical services to match any of your needs.</h2>
	<p>Our staff is world-class and trained in all electrical services. We've been working in Utah for more than 35 years and have seen it all. Below are just some of the things that we offer.</p>
	<div class="row">
		<div class="container">
			<div class="col-xs-6">
		  	<h2>Residential Services</h2>
		  	<ul>
		  		<li>Wiring</li>
		  		<li>Home Automation</li>
		  		<li>Troubleshooting</li>
		  		<li>Remodeling</li>
		  		<li>New Construction</li>
		  		<li>Generator Installation</li>
		  		<li>Maintanence</li>
		  		<li>Meter Changeout</li>
		  	</ul>
		  </div>
		  <div class="col-xs-6">
		  	<h2>Commercial Services</h2>
		  	<ul>
		  		<li>Commercial Work</li>
		  		<li>Knob and Tube</li>
		  		<li>Work for Commercial Companies</li>
		  		<li>Hard stuff</li>
		  		<li>Restaurants</li>
		  		<li>Schools</li>
		  		<li>Hospitals</li>
		  	</ul>
		  </div>	
	  </div>
	</div>
	<h1>Services Area</h1>
</div>