<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <%= link_to "AMP Services", 'root_path', id: 'logo' %>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "About",      'about_path', class: 'nav-text' %></li>
        <li><%= link_to "Contact Us", 'contact_path' %></li>
        <li><%= link_to "Blog",       '#' %></li>
        <div class="followus">

        </div>
      </ul>
    </div>
  </div>